.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.article-card {
  margin: 20px auto;
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: #fff;
  max-width: 600px;
}

.article-card img {
  max-width: 100%;
}

body {
  background: #eee;
}
.App {
  padding-top: 25px;
}


input[type="text"] {
  border: 1px solid #ccc;
  padding: 10px;
}

input[type="submit"] {
  background: green;
  border: none;
  height: 36px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin-left: 20px;
}